<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/stylesheets/login.css">
  </head>
  <body>

    <h1>Events Manager Login</h1>

    <form class="form" action="/login" method="POST">
      <input type="text" name="username" required autocomplete="off">
      <label for="username" class="labelName">
        <span class="contentName">Name</span>
      </label>
      <input type="password" name="password" required autocomplete="off">
      <label for="password" class="labelPass">
        <span class="contentPass">Password</span>
      </label>
      <button class="button"></button>
      <label for="button" class="labelButton">
        <span>Submit</span>
      </label>
    </form>

  </body>
</html>
